body {
  font-family: monospace;
}

input, select, textarea, label, ::placeholder{
    color: #fff;
    background-color: black;
  }

.section-follow .fa-4x {
  margin: 5px 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}